body {
    background: #f8f9fa;
    }
   

.cor-principal {
        color: #661f06;
        }
       h1 {
        font-weight: 900;
        height: 36px;
        margin: 0;
        line-height: 0.8;
        }
.cor-secundaria {
        color: rgb(75, 64, 64);
        }
        h1 {
        font-weight: 900;
        height: 36px;
        margin: 0;
        line-height: 0.8;
        }
.cor-tercearia {
        color: rgb(59, 22, 224);
}
h1 {
        font-weight: 900;
        height: 36px;
        margin: 0;
        line-height: 0.8;
                }
                
#carouselExampleIndicators{
        color:black;
        height: 210px;
       }
#carouselExampleIndicators .carousel-indicators li{
        background-color: rgba(220, 20, 60, 0.3);
       }
#carouselExampleIndicators .carousel-indicators .active{
        background-color: crimson;
       }
#carouselExampleIndicators .carousel-control-next-icon, .carousel-control-prev-icon{
        background-color: crimson;
       }
.carousel-caption{
        color: black;
        top: 0;
        padding: 60px 130px;
       }
.home-food img {
        border-radius: 50%;
        max-width: 100%;
        height: auto;
        }
footer {
            color: white;
            }

           footer .row .col-lg-12{
            background-color: #661f06;
            padding: 60px;
            width: 100%;
           }
           .social-media a {
            padding: 0 10px;
            color: white;
            text-decoration: none;
            }
           .social-media a:hover {
            color: grey;
            }
           .social-media a {
            padding: 0 10px;
            color: white;
            text-decoration: none;
            }
           .social-media a:hover {
            color: grey;
            }

.preco {
        font-weight: 700;
}
.obs {
        width:12em;
        word-wrap: break-word;
        height: 5em;
        overflow: hidden;
}

.socialicon{
        width: 40px;
        height: 40px;
}

.hidden {
display: none;
       }
.switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
      }
   
    .mapas{
            height: 400px;
            width: 100%;
    }